.wrapper {
    height: 3rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-bg-less-important);
    user-select: none;
}

.icon {
    width: 1.5rem;
    max-height: 2rem;
    margin: auto 0.5rem;
}
