<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Console 日志输出设置 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出:%d表示日期;%thread表示线程名;%-5level:级别从左显示5个字符宽度;%logger{36}表示logger名称最大35个字符,否则以.隔开;%msg:日志消息;%n是换行符;%L显示行号(未开启)-->
			<pattern>%white(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %cyan(%-5level) %yellow(%logger{36}) %magenta(-) %white(%msg%n)</pattern>
			<!-- No Color -->
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
			<charset>utf8</charset>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
