spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=GMT%2b8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    hikari:
      # 最大连接数 默认值为10
      maximum-pool-size: 30
      # 最小空闲连接数 默认值为10
      minimum-idle: 30
      connection-timeout: 30000
      max-lifetime: 1800000
      idle-timeout: 600000
  data:
    mongodb:
      # see mongodb/src/main/resources/application.yml
      uri: mongodb://rw:rw@127.0.0.1:27017/?authSource=root&authMechanism=SCRAM-SHA-1
      database: rw_test
face:
  file:
    path: app/face

mybatis-plus:
  global-config:
    banner: false
server:
  address:
  port: 8081
