spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=GMT%2b8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    hikari:
      # 最大连接数 默认值为10
      maximum-pool-size: 30
      # 最小空闲连接数 默认值为10
      minimum-idle: 30
      connection-timeout: 30000
      max-lifetime: 1800000
      idle-timeout: 600000

redisson:
  mode: single  # single, cluster, sentinel, master-slave
  host: 127.0.0.1
  port: 6379
  password:
  database: 0
  timeout: 3000
  pool-size: 64
  min-idle-size: 24
redis:
  host: 127.0.0.1
  port: 6379
  password: ''
  database: 0
  pool:
    maxTotal: 10
    maxIdle: 8
    minIdle: 0
    testOnBorrow: true
